.column {
    float: left;
    width: 24%;
    padding: 5px;
}

.times-header {
    text-align: center;
    font-weight: bold;
    float: left;
    margin-top: 5px;
    font-size: 24px;
    width: 75%;
    margin-right: 25%;
}

.hs-header {
    text-align: center;
    font-weight: bold;
}

.stats {
    float: left;
    width: 32%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}
.stat-header {
    font-size: 22px;
}

.row::after {
    margin-left: auto;
    margin-right: auto;
    content: "";
    clear: both;
    display: table;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    text-align: center;
    border: 2px solid #ddd;
    float: left;
}

.th {
    padding: 12px;
    font-size: 18px;
}

.td {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
}

thead {
    background-color: #f2f2f2;
    padding: 10px;
}

.tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    margin: 2px 40%;
    clear: both;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
    padding: 10px;
    background-color: lemonchiffon;
    border: 3px groove darkslategrey;
}